original_materials/*
!original_materials/README.md
!original_materials/Materials.zip
!original_materials/scripts/
!original_materials/02_Advanced_Morphometric_Classification_outputs/
!original_materials/run02.sh

.venv/

**nohup.out

**__pycache__/
